<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kmbridge.itdoc"
    android:versionCode="1"
    android:versionName="1.0" >
    
    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="16" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/action_itdoc_logo"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Holo.Light" >
        <activity
            android:name=".activity.IntroActivity"
            android:label="@string/title_activity_intro"
            android:theme="@android:style/Theme.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.BasicDrawerActivity"
            android:label="@string/basic_activity_title" >
        </activity>
        <activity
            android:name=".activity.BasicActivity"
            android:icon="@drawable/action_itdoc_logo"  
            android:label="@string/title_activity_basic"
            android:theme="@style/Theme.AppCompat.Light" 
          >
           
        </activity>
        <activity
            android:name=".activity.UserManagerActivity"
            android:label="@string/label_activity_user_manager" 
             android:theme="@style/Theme.AppCompat.Light"  >
             
        </activity>
        <activity android:name=".activity.MainDrawerActivity" >
           
        </activity>
        <activity android:name=".activity.TestUserActivity" >
        </activity>
        <activity
            android:name=".activity.ScreenSlideActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
           
        </activity>
        <activity android:name=".activity.ProfilePictureActivity" >
              
        </activity>
        <activity
            android:name=".activity.LoginActivity"
            android:label="@string/title_activity_login" >
        </activity>
        <activity
            android:name=".activity.ConfigActivity"
            android:label="@string/title_activity_config" >
        </activity>
        <activity
            android:name="com.kmbridge.itdoc.activity.KmClinicDetailActivity"
            android:label="@string/title_activity_km_clinic_detail" >
        </activity>
    </application>

</manifest>